.jumbotron {
  color: white;
  background: #16247C;
  padding-top: 20px;
  padding-bottom: 20px; }
  .jumbotron .btn-primary {
    color: white;
    background: #3891EA;
    border-color: #000000 }
    .jumbotron .btn-primary:hover {
      background: #4A9BEB }
  .jumbotron .btn-secondary {
    color: white;
    background: #3891EA;
    border-color: #000000 }
    .jumbotron .btn-secondary:hover {
      background: #4A9BEB }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #002010;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-62%, -50%);
      max-width: 80%; }
code {
    color: #DD0000;
}
