<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.11.0/styles/agate.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/applescript.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <% include ../partials/header.ejs %>
    </head>

    <body>
        <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <h1> Scripts </h1>
        </div>

        <div class="container">
            <div class="jumbotron" style="background:#3891EA">
                <div class="jumbotron text-left" style="height:100%; padding-bottom:0%">
                    <h2> Cascade Finder Windows </h2>
                    <div style="font-size: 18px; height: 100%"> This script organizes your finder windows </div>
                    <div class="well" style="background: white; font-size: 16px">
                        <ul style="color: black; font-family: helvetica">
                            <text style="color: black; height:min; padding-bottom:20px; font-size:18px; font-family:Gilbert sans-serif">These are words. Here is some filler text lalallala hei aksd  asdfkll;kj . laksdjflkjsdf; lskdf</text>
                            <hr/>
                            <li>This first step is to get the current file path</li>
                            <ul><li>Then it is converted to <a href="https://stackoverflow.com/a/1780614" >POSIX </a> so it can be written in a Terminal command</li></ul>
                            <li>Then the script prompts for the commit message with a dialog box and the input is set to commitName</li>
                            <li>Now the script is ready to begin executing Terminal commands</li>
                            <ul>
                                <li>It opens Terminal in a new window and executes each command with <code>do script</code></li>
                                <ul>
                                    <li>After the first, each command is followed by <code>in window 1</code> to ensure that all of the commands are entered into the new terminal window</li>
                                </ul>
                                <li>First we move to the current file path</li>
                                <li>Then we commit the update and push it to heroku and git</li>
                                <li>Finally, we open the webpage with <code>heroku open</code></li>
                            </ul>
                        </ul>
                        <div style="color:black"> Note: To run this script place it in your project folder. Then open terminal, navigate to your project, and enter the command <code>osascript push.scpt</code></div>
                    </div>
                </div>
                <pre>Cascade_Windows.scpt<code class="applescript"><% include ../../scripts/Cascade_Windows.txt %></code></pre></div>
            </div>
        </div>
    </body>
</html>
