<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/script.css" />
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <h1>Cascade Windows</h1>
    </div>
    <div class="container">
      <div class="jumbotron" id="inner">
        <div class="jumbotron text-left" style="height:100%; padding-bottom:0%">
          <div class="well">
            <text>This script organizes your finder windows cascading down and to the right from the top left corner of the screen.</text>
            <br/>
            <br/>
            <text>TODO: Select the current front window instead of just finder</text>
            </br>
            <text><div id="padded-text">Optional: turn into new program that promts where the window should go (top, full, left, top-left, etc...)</div></text>
            <hr/>
            <text class="bolder">Process:</text>
            <ul>
              <li>The first thing the script does it make a list of every finder window</li>
              <li>Then it intializes the offsets</li>
              <ul>
                <li>The <code>initial_offset</code> is to move down to the bottom of the menu bar</li>
                <li>The <code>cascade_offset</code> is how far apart the windows are spaced</li>
                <ul>
                  <li>This is useful when you want to change the cascade spacing</li>
                </ul>
              </ul>
              <li>Then we loop through each window and place it at the current offset</li>
              <li>We use a counter to generate new offsets for each window by mutiplying the cascade_offset by the current counter valvue</li>
            </ul>
          </div>
        </div>
        <pre>Cascade_Windows.scpt<code class="applescript"><% include ../../scripts/Cascade_Windows.txt %></code></pre>
        <div id="space"></div>
        <div class="jumbotron">
          <div class="well">
            <text class="bolder">Note:</text>
            <ul>
              <li>To run this script:</li>
              <ol>
                <li>Copy and paste the code into a file</li>
                <li>Save it as a <code>.scpt</code> file in your project folder</li>
                <li>Open terminal:</li>
                <ul>
                  <li>Navigate to your project</li>
                  <li>Enter the command: <code>osascript cascade_windows.scpt</code></li>
                </ul>
              </ol>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
