<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo.png"/>
      <a href="https://pixlr.com/" target="_blank" style="font-size:10px; color: #ffffff;">Made with Pixler</a>
    </a>
    <h1>Thomas J. Webb</h1>
    <p>This is a collection of some scripts I wrote with AppleScript</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://developer.apple.com/library/content/documentation/AppleScript/Conceptual/AppleScriptX/Concepts/work_with_as.html" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> What is AppleScript?</a>
    <a type="button" class="btn btn-lg btn-secondary" href="https://github.com/teeejw" target="_blank"><span class="glyphicon glyphicon-link"></span> My GitHub page </a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="alert alert-info text-center"> Hi Mom! </div> <!remove this later>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How I made this website</h3>
      <ul>
        <li>This app was deployed to Heroku using <a href="/push">Push.scpt</a></li>
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Web Dev Resources</h3>
      <b>TODO: Fill in the links</b>
      <ul>
          <li>color scheme generator + color picker</li>
          <li>w3schools --> CCS HTML</li>
          <li>cheatscheet + dl link</li>
          <li>add link to atom + openbrowser (screenshots?)</li>
          <li>for nearly everything else + stackoverflow</li>
      </ul>
    </div>
  </div> <!-- row -->
  <div class="alert alert-info text-center" role="alert">To deploy your own copy, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.</div>
</div>


</body>
</html>
