<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container" id="logo">
        <a class="lang-logo">
          <img src="/logo.png"/>
          <a href="https://pixlr.com/" id="pixlr-link" target="_blank">Made with Pixler</a>
        </a>
        <h2>Thomas J. Webb</h2>
        <a type="button" class="btn btn-lg btn" href="https://developer.apple.com/library/content/documentation/AppleScript/Conceptual/AppleScriptX/Concepts/work_with_as.html" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> What is AppleScript?</a>
        <a type="button" class="btn btn-lg btn" href="https://github.com/teeejw/Heroku" target="_blank"><span class="glyphicon glyphicon-link"></span> My GitHub page</a>
      </div>
    </div>
    <div class="row">
      <div class="jumbotron" id="top-block">
        <div class="col-md-6 text-left">
          <h4>AppleScript</h4>
          <div class="well" id="top-block-well">
            <div id="well-text">
              <text id="padded-text">This is a collection of scripts I wrote using AppleScript. I use scriptEditor to develop the scripts and link them to hotkeys using FastScripts. Most of them are just small tests to practice using AppleScript.</text>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-left">
          <h4>Scripts</h4>
          <div class="well" id="top-block-well">
            <div id="well-text">
              <text id="padded-text">I use <a hred="https://highlightjs.org/" >highlight.js</a> to show the syntax of the scripts as displayed on the website. These scripts will only run on Macintosh computers. To use them youself just copy and paste the code into a .scpt file and then execute <code>osascript file.scpt</code></text>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="display">
      <a href="/push">
        <div class="col-md-4">
          <div class="jumbotron" id="box">
            <h4 id="box-title"><div class="glyphicon glyphicon-link"></div> Push</h4>
            <div class="well">
              <text>This script pushes local changes to the website and updates the github repository.</text>
              <br/>
              <text>It works for Mac users developing a Heroku website linked to a github.</text>
            </div>
          </div>
        </div>
      </a>
      <a href="/cascade">
        <div class="col-md-4">
          <div class="jumbotron" id="box">
            <h4 id="box-title"><div class="glyphicon glyphicon-link"></div> Cascade Windows</h4>
            <div class="well">
              <text>This script organizes your finder windows.</text>
              <br/>
              <text>It works for any Mac user.</text>
            </div>
          </div>
        </div>
      </a>
      <a href="/various">
        <div class="col-md-4">
          <div class="jumbotron" id="box">
            <h4 id="box-title"><div class="glyphicon glyphicon-link"></div> Other Scripts</h4>
            <div class="well">
              <text>This a collection of smaller scripts with less detailed discriptions.</text>
              <ul>
                <li>Express_Setup</li>
                <li>CountDown</li>
              </ul>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row">
      <div class="col-md-6"  id="web-dev">
        <h3><span class="glyphicon glyphicon-link"></span> Web Dev Resources</h3>
        <ul>
            <h4>Design</h4>
            <ul>
              <li>Color scheme <a href="https://coolors.co/b09e99-fee9e1-fad4c0-64b6ac-c0fdfb">generator</a></li>
            </ul>
            <h4>Documentation</h4>
            <ul>
              <li>w3schools.com <a href="https://www.w3schools.com/html/default.asp"> HTML </a><a href="https://www.w3schools.com/css/default.asp"> CSS</a></li>
              <li>Emmet: HTML and CSS <a href="https://docs.emmet.io/cheat-sheet/">cheatsheet</a></li>
            </ul>
            <h4>Development</h4>
            <ul>
              <li>I use <a href="https://atom.io/">Atom</a> with the plugins:</li>
              <ul>
                <li><a href="https://atom.io/packages/open-in-browser"> open-broswer</a></li>
                <li><a href="https://atom.io/packages/open-in-browser"> platformio-ide-terminal</a></li>
              </ul>
              <li>For when you're stuck <a href="https://stackoverflow.com/">stackoverflow</a></li>
            </ul>
        </ul>
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> FastScripts</h3>
        <ul><li> Many of these scripts are much more useful if bound to a hotkey. I use <a href="https://red-sweater.com/fastscripts/">FastScripts</a> to make setting it up easy. <br/>To set up FastScripts <a href="https://red-sweater.com/fastscripts/FastScripts2.6.11.zip"> download</a> and install fastscripts, click on the fastscripts icon in your titlebar, select <code>FastScripts --> Preferences --> Open Scripts Folder</code>, drop your scripts into the folder, select <code>FastScripts --> Preferences --> Script Shortcuts</code>, and double click to edit the hotkey.</li></ul>
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign"></span> How I made this website</h3>
        <ul>
          <li>This app was deployed to Heroku using <a href="/push">Push.scpt</a></li>
          <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
          <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        </ul>
      </div>
    </div>
    <div class="alert alert-info text-center" role="alert">To make your own website, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.</div>
  </body>
</html>
