<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/script.css" />
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <h1>Push</h1>
    </div>
    <div class="container">
      <div class="jumbotron" id="inner">
        <div class="jumbotron text-left" style="height:100%; padding-bottom:0%">
          <div class="well">
            <text>This script pushes local changes to the website and updates the github repository. It works for <b>Macintosh</b> users developing a <b>Heroku</b> website linked to a <b>github</b> repository to quickly push their local changes.</text>
            <hr/>
            <text id="bolder">Process:</text>
            <ul>
              <li>First we need to get the current file path</li>
              <ul>
                <li>Then it is converted to <a href="https://stackoverflow.com/a/1780614" >POSIX </a> so it is a valid file path when written in a Terminal command</li>
              </ul>
              <li>Then the script prompts for the commit message with a dialog box and the input is set to commitName</li>
              <li>Now we define a list of terminal commands</li>
              <ul>
                <li>The command for our commit looks like <code>git commit -am "MESSAGE TEXT"</code>. This command contains a <code>"</code> so we need to escape the character using <code>\</code> otherwise it will be interpreted as deliminating string</li>
                <li>The character <code>&</code> is included to concatinate our variables for the path and commitMSG with our hard-coded commands</li>
              </ul>
              <li>Now the script is ready to begin executing Terminal commands</li>
              <li>It opens Terminal in a new window and executes the command <code>do script " "</code></li>
              <ul>
                <li>This command opens a new terminal window for us to excecute commands in</li>
              </ul>
              <li>Then we loop through our list, executing each line of code followed by <code>in window 1</code> to ensure that all of the commands are entered into the correct terminal window</li>
              <ul>
                <li>First we move to the current file path</li>
                <li>Then we commit the update and push it to heroku and git</li>
                <li>Finally, we open the webpage with <code>heroku open</code></li>
              </ul>
            </ul>
          </div>
        </div>
        <pre>Push.scpt<code class="applescript"><% include ../../scripts/Push.txt %></code></pre>
        <div id="space"></div>
        <div class="jumbotron">
          <div class="well">
            <text id="bolder">Note:</text>
            <ul>
              <li>To run this script:</li>
              <ol>
                <li>Copy and paste the code into a file</li>
                <li>Save it as a <code>.scpt</code> file in your project folder</li>
                <li>Open terminal:</li>
                <ul>
                  <li>Navigate to your project</li>
                  <li>Enter the command: <code>osascript push.scpt</code></li>
                </ul>
              </ol>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
