<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
      <link rel="stylesheet" type="text/css" href="/stylesheets/script.css" />
    </head>

    <body>
        <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <h1> Scripts </h1>
        </div>
        <div class="container">
            <div class="jumbotron" style="background:#3891EA">
                <div class="container"><pre>Express_Setup.scpt<code class="applescript"><% include ../../scripts/Express_Setup.txt %></pre></code></div>
                <div class="container"><pre>CountDown.scpt<code class="applescript"><% include ../../scripts/CountDown.txt %></pre></code></div>
            </div>
        </div>
    </body>
</html>
