<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.11.0/styles/agate.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/applescript.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <% include ../partials/header.ejs %>
    </head>

    <body>
        <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <h1> Scripts </h1>
        </div>
        <div class="container">
            <div class="jumbotron" style="background:#3891EA">
                <div class="container"><pre>Express_Setup.scpt<code class="applescript"><% include ../../scripts/Express_Setup.txt %></pre></code></div>
                <div class="container"><pre>CountDown.scpt<code class="applescript"><% include ../../scripts/CountDown.txt %></pre></code></div>
            </div>
        </div>
        <div class="jumbotron">
        </div>
    </body>
</html>
